.vertical-center {
    min-height: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
}

#login-form {
    padding: 35px 35px 35px 35px;
}

#login-form h1 {
    font-size: 3em;
    padding-bottom: 20px;
}
